.Button {
    display: block;
    width: 100%;
    max-width: 300px;
    padding: 0.75rem 0;
    text-decoration: none;
    text-align: center;
    font: 1.5rem 'Bree Serif', 'Times', serif;
    background: $Primary;
    border: 1px solid darken($Primary, 10%);
    margin: 0 auto 0.5rem auto;
    color: white;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.formButton {
    display: block;
    width: 100%;
    max-width: 330px;
    margin: 0.25em auto;
    padding: 0.75rem 0;
    text-decoration: none;
    text-align: center;
    font: 1.5rem 'Bree Serif', 'Times', serif;
    margin-bottom: 0.5rem;
    background: $Secondary;
    color: white;
    border: 1px solid $Secondary;
    &:last-of-type {
        margin-bottom: 0;
    }
}