.Button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font: 1.5rem 'Bree Serif', 'Times', serif;
    background: $Primary;
    border: 1px solid darken($Primary, 10%);
    border-radius: 4px;
    margin-bottom: 0.5rem;
    color: lighten($PrimaryLight, 45%);
    text-shadow:  0 0 1px lighten($PrimaryLight, 40%), 0 -1px 1px black;
    &:last-of-type {
        margin-bottom: 0;
    }
}

.formButton {
    display: block;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
    font: 1.5rem 'Bree Serif', 'Times', serif;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    text-shadow:  0 0 1px lighten($PrimaryLight, 40%), 0 -1px 1px black;
    background: $SecondaryLight;
    color: lighten($SecondaryLight, 45%);
    border: 1px solid $Secondary;
    &:last-of-type {
        margin-bottom: 0;
    }
}