.detail {
    text-align: center;
    margin-bottom: 20px;
    font: 1em/1.5em 'Open Sans', 'Arial', serif;
}

.detail__main__status, .detail__sub__name {
  text-transform: uppercase;
    font: 1.5em 'Bree Serif', Times, serif;
    color: white;
    background: $Primary;
    display: block;
    border-radius: 1em;
    padding: 0.25em;
}

.detail__sub__color {
    text-align: left;
    font: 1.5em 'Bree Serif', Times, serif;
    color: $Primary;
}

.detail__sub__breed {
    text-align: left;
    font: 1.5em 'Bree Serif', Times, serif;
    color: $Primary;
}

.detail__main__location {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.detail__main__image {
	width: 100%;
}
.detailList__region {
    text-align: left;
    background: $Primary;
    color: white;
    padding: 0.25em 0;
    width: 100%;
    font: 1.25em 'Bree Serif', Times, serif;
    margin-bottom: 0.5em;
    span {
        margin-left: 1em;
    }
}
table.detailList {
    border: none;
    td {
        text-align: center;
        padding: 0.5em;
        &:first-child {
            width: 45px;
        }
    }
    .detailList__item.active.lost td {
        background: $Lost;
        color: white;
    }
    .detailList__item.active.found td {
        background: $Found;
        color: white;
    }
}

.detail-navigation {
    position: relative;
    bottom: 10px;
}

.name {
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1;
}

