.detail {
    text-align: center;
    margin-bottom: 20px;
    font: 1em/1.5em 'Open Sans', 'Arial', serif;
}

.detail__main__status, .detail__sub__name {
  text-transform: uppercase;
    font: 1.5em 'Bree Serif', Times, serif;
    color: white;
    background: $Primary;
    margin: 0 7px 1em 7px;
    display: block;
    border-radius: 1em;
    padding: 0.25em;
    border: 2px solid $Neutral;
    box-shadow: 0 0 0 5px $Primary;
}

.detail__sub tr {
    &:nth-child(2) {
        td:first-child {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
    }
}
.detail__sub td{
    font-size: 0.95em;
    padding: 0.5em;
    color: $Primary;
    &:first-child {
        width: 40px;
        background: $Primary;
        color: white;
    }
}

.detail__main__location {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.detail__main__image {
	width: 100%;
}
.detailList__region {
    text-align: left;
    background: $Primary;
    color: white;
    padding: 0.25em 0 0.5em 0;
    width: 100%;
    font: 1.15em 'Bree Serif', Times, serif;
    margin-bottom: 0.5em;
    span {
        margin-left: 1em;
    }
}
table.detailList {
    border: none;
    td {
        font-size: 0.95em;
        text-align: center;
        padding: 0.5em 0.25em;
        &:first-child {
            width: 20px;
        }
        &:nth-child(2) {
            width: 45px;
        }
    }
    .detailList__item.active.lost td {
        background: $Lost;
        color: white;
    }
    .detailList__item.active.found td {
        background: $Found;
        color: white;
    }
}

.detail-navigation {
    position: relative;
    bottom: 10px;
}

.name {
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1;
}

