.detail {
    text-align: center;
    margin-bottom: 20px;
    font: 1em/1.5em 'Open Sans', 'Arial', serif;
}

.detail__main__status, .detail__sub__name {
  text-transform: uppercase;
    font: 1.5em 'Bree Serif', Times, serif;
    color: $Primary;
}

.detail__main__location {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.detail__main__image {
	width: 100%;
}

.detail-navigation {
    position: relative;
    bottom: 10px;
}

.name {
    font-size: 1.2em;
    margin-top: 20px;
    line-height: 1;
}

