.formRow {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

label {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    margin-bottom: 0.25rem;
    font: 1.25rem 'Patua One', 'Arial', serif;
    color: $Primary;
}

input {
    width: 100%;
    padding: 1em 0.5em;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border: 1px solid darken($Primary, 10%);
    outline: none;
    box-sizing: border-box;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 1em 0.5em;
    margin: 0 auto;
    max-width: 300px;
    display: block;
    outline: none; 
    border: 1px solid $Primary;
    border-radius: 4px;
}

form div, .formRow div {
    margin-bottom: 1em;
}

.radio {
    width: 50%;
    position: relative;
    float: left;
    span {
        display: inline-block;
        font: 1.25rem 'Patua One', 'Arial', serif;
        color: $Primary;
    }
    label {
        width: auto;
        margin: 0 0 -5px 0.5em;
        display: inline-block;
        position: absolute;
        &:before {
            content: "";
            display: block;
            width: 17px;
            height: 17px;
            background: white;
            border: 2px solid $Secondary;
            border-radius: 50%;
        }
    }
    input {
        display: none;
        &:checked + label:after {
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: $Secondary;
            border-radius: 50%;
            position: relative;
            top: -18px;
            left: 3px;
        }
    }
}

.formRow {
    display: flex;
    justify-content: space-between;
}

.formSpanOne {
    width: calc(50% - 0.5em);
    float: left;
}

form button {
    background: $SecondaryLight;
    color: lighten($SecondaryLight, 45%);
    border: 1px solid $Secondary;
}

.formIndicia {
    width: 100%;
    max-width: 300px;
    margin: 0.5em auto;
    display: block;
    color: $Primary;
    text-align: right;
}