html, body, #root, .App {
	height: 100%;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	display: block;
}

body {
    background: radial-gradient(circle farthest-corner at bottom, rgba($SecondaryLight,0.8) 0%, rgba($SecondaryLight,0) 100%), url('././images/diamond_upholstery.png');
	margin: 0;
	font-size: 16px;
}

.App {
	box-sizing: border-box;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

h2.pageHeader {
	text-align: center;
	font: 1.5em 'Patua One', Times, serif;
	color: white;
	margin-bottom: 0.5em;
}