@mixin bp($point) {
  @if $point == papa-bear {
    @media (max-width: 1600px) { @content; }
  }
  @else if $point == mama-bear {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == baby-bear {
    @media (max-width: 600px)  { @content; }
  }
}

html, body, #root, .App {
	height: 100%;
}

img {
	display: block;
}

body {
    background: #efefef;
	margin: 0;
	font-size: 16px;
}

.App {
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 58px;
	padding: 1em;
	height: calc(100% - 90px);
}

h2.pageHeader {
	text-align: center;
	font: 1.5em 'Patua One', Times, serif;
	color: $Primary;
	margin: 0.5em 0;
}