.landingContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pageNavigation {
	align-self: flex-end;
	flex: 0;
	width: 100%;
    margin-bottom: 1em;
}

.topContainer {
	flex: 1;
    position: relative;
    right: calc(-50% -200px);
    overflow: hidden;
}

.logo {
    position: relative;
    margin: 0 auto;
    top: 1em;
    width: 300px;
}

.dogImages {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    top: 6em;
    position: relative;
    transform: rotate(45deg);
    a {
        background: linear-gradient(-45deg, darken($Secondary, 10%) 0%, $Secondary 100%);
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        box-shadow: 0 0 0px 8px #ccc;
    }
    img {
        position: relative;
    	width: 100px;
    	height: 100px;
    	border-radius: 50%;
    	overflow: hidden;
        transform: rotate(-45deg);
  	}
    .dogImages__image1 {
        top: -290px;
        left: -290px;
        animation: drop1 1.2s ease-in-out;
        animation-delay: 1.2s;
        animation-fill-mode: forwards;
    }
    .dogImages__image2 {
        top: -290px;
        right: 290px;
        animation: drop2 1.2s ease-in-out;
        animation-delay: 0.9s;
        animation-fill-mode: forwards;
    }
    .dogImages__image3 {
        bottom: 290px;
        left: -290px;
        animation: drop3 1.2s ease-in-out;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }
    .dogImages__image4 {
        bottom: 340px;
        right: 340px;
        animation: drop4 1.2s ease-in-out;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;
    }
}

@keyframes drop1 {
    0% {
        top: -290px;
        left: -290px;
    }
    75% {
        top: 5px;
        left: 5px;
    }
    100% {
        top: 0px;
        left: 0;
    }
}

@keyframes drop2 {
    0% {
        top: -290px;
        right: 290px;
    }
    75% {
        top: 5px;
        right: -5px;
    }
    100% {
        top: 0px;
        right: 0;
    }
}

@keyframes drop3 {
    0% {
        bottom: 290px;
        left: -290px;
    }
    75% {
        bottom: -5px;
        left: 5px;
    }
    100% {
        bottom: 0px;
        left: 0;
    }
}

@keyframes drop4 {
    0% {
        bottom: 340px;
        right: 340px;
    }
    75% {
        bottom: -5px;
        right: -5px;
    }
    100% {
        bottom: 0px;
        right: 0;
    }
}