.listContent {
	padding: 1em 1em 0 1em;
}
table {
  	border: 1px solid #ccc;
  	border-collapse: collapse;
  	margin: 0 0 1em 0;
  	padding: 0;
  	width: 100%;
  	table-layout:fixed;
  	font: 1em 'Open Sans', Arial, sans-serif;
}

th {
  	color:white;
  	background:$Secondary;
  	border-bottom:1px solid #9ea7af;
	border-right: 1px solid #343a45;
	font: 1em 'Patua One', 'Arial', sans-serif;
  	font-size:1.5em;
  	padding:0.5em;
  	text-align:left;
  	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  	vertical-align:middle;
}

th:first-child {
  	border-top-left-radius:3px;
}
 
th:last-child {
  	border-top-right-radius:3px;
  	border-right:none;
}
  
table tr th:nth-child(1){
  	width: 30%;
}

table tr th:nth-child(2){
	width: 40%;
}

tr:first-child {
  	border-top:none;
}

tr:last-child {
  	border-bottom:none;
}
 
tr:nth-child(odd) td {
  	background:#EBEBEB;
}

tr:last-child td:first-child {
  	border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  	border-bottom-right-radius:3px;
}
 
td {
  	background:#FFFFFF;
  	padding:13px;
  	text-align:left;
  	vertical-align:middle;
  	font-size:16px;
  	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
	a {
		text-decoration: none;
		color: inherit;
	}
}

.loctd{
  	width:300px;
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.colortd{
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.breedtd{
  	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}