html {
  height: 100%; }

body {
  background: linear-gradient(to top, #6a1b9a 0%, rgba(106, 27, 154, 0.3) 100%), url("./images/diamond_upholstery.png"); }

.topContainer__dogImages {
  width: 300px;
  height: 300px; }
  .topContainer__dogImages img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid white; }
